@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a.button {
  display: inline-flex;
  color: white;
  text-decoration: none;
  justify-content: space-between;
}
a.button span {
  font-size: 20px;
  padding: 16px 30px 16px 26px;
  background-color: #151515;
}
a.button img {
  margin-left: auto;
  background-color: #D5966C;
  padding: 5px 20px;
}

a.button:hover span {
  background-color: #D5966C;
}
a.button:hover img {
  background-color: black;
}

h1 {
  font-size: 50px;
  padding: 24px 0px;
}

@media (min-width: 1441px) {
  h2 {
    font-size: 60px;
  }
}

.hero {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .hero {
    display: flex;
  }
}
@media (min-width: 1441px) {
  .hero {
    background-color: black;
    max-width: 70%;
    margin-left: -16px;
  }
}
.hero img.principal {
  max-width: 110%;
  margin-left: -16px;
}
@media (min-width: 768px) {
  .hero img.principal {
    display: none;
  }
}
@media (min-width: 1441px) {
  .hero img.principal {
    display: none;
  }
}
.hero img.principal-tablet {
  display: none;
}
@media (min-width: 768px) {
  .hero img.principal-tablet {
    display: flex;
    position: relative;
    max-width: 60%;
    margin-left: -15px;
  }
}
@media (min-width: 1441px) {
  .hero img.principal-tablet {
    display: flex;
    position: relative;
    width: 55%;
    margin-left: 470px;
    max-height: 750px;
  }
}
.hero h1 {
  font-size: 50px;
  padding: 24px 0px;
}
@media (min-width: 768px) {
  .hero h1 {
    position: absolute;
    margin-top: 130px;
    margin-left: -60px;
  }
}
@media (min-width: 1441px) {
  .hero h1 {
    position: absolute;
    color: white;
    margin-top: -600px;
    font-size: 96px;
    margin-left: 185px;
  }
}
.hero p {
  font-size: 18px;
  color: #444444;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .hero p {
    position: absolute;
    margin-top: 310px;
    margin-left: -60px;
    max-width: 43%;
  }
}
@media (min-width: 1441px) {
  .hero p {
    position: absolute;
    margin-top: -530px;
    margin-left: 960px;
    max-width: 23%;
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .hero a {
    position: absolute;
    margin-top: 450px;
    margin-left: -60px;
  }
}
@media (min-width: 1441px) {
  .hero a {
    position: absolute;
    margin-top: -330px;
    margin-left: 960px;
  }
}

.second {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .second {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1441px) {
  .second {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 30px;
    gap: 0px 125px;
  }
}
.second img.img-second-one {
  max-width: 100%;
}
@media (min-width: 768px) {
  .second img.img-second-one {
    grid-row: 1/span 2;
    grid-column: 2/span 1;
  }
}
@media (min-width: 1441px) {
  .second img.img-second-one {
    grid-row: 1/span 2;
    grid-column: 2/span 1;
    max-width: 70%;
    display: none;
  }
}
.second img.img-second-two {
  max-width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .second img.img-second-two {
    grid-row: 1/span 2;
    grid-column: 2/span 1;
    display: none;
  }
}
@media (min-width: 1441px) {
  .second img.img-second-two {
    grid-row: 1/span 2;
    grid-column: 2/span 1;
    max-width: 90%;
    display: grid;
  }
}
.second h2 {
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 800;
  font-family: "Big Shoulders", sans-serif;
}
@media (min-width: 768px) {
  .second h2 {
    max-width: 60%;
    line-height: 45px;
  }
}
@media (min-width: 1441px) {
  .second h2 {
    line-height: 45px;
    text-transform: uppercase;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }
}
.second p {
  max-width: 90%;
  color: #444444;
  font-size: 18px;
}
@media (min-width: 768px) {
  .second p {
    font-size: 20px;
    max-width: 80%;
    margin-top: -20px;
  }
}
@media (min-width: 1441px) {
  .second p {
    font-size: 20px;
    max-width: 80%;
    margin-top: -20px;
  }
}

.last {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .last {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
  }
}
@media (min-width: 1441px) {
  .last {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-left: 165px;
    margin-right: 165px;
  }
}
.last img {
  margin-bottom: 12px;
  max-width: 100%;
}
@media (min-width: 1441px) {
  .last img {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .last img.image-last1 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    margin-bottom: 0px;
  }
}
@media (min-width: 1441px) {
  .last img.image-last1 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    margin-bottom: 0px;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .last img.image-last2 {
    margin-bottom: 0px;
    height: 100%;
  }
}
@media (min-width: 1441px) {
  .last img.image-last2 {
    display: none;
  }
}
.last img.image-last3 {
  display: none;
}
@media (min-width: 768px) {
  .last img.image-last3 {
    display: none;
  }
}
@media (min-width: 1441px) {
  .last img.image-last3 {
    margin-bottom: 0px;
    display: grid;
    height: 100%;
  }
}
.last .container-last {
  background-color: black;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .last .container-last {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    align-content: center;
    padding: 40px;
  }
}
@media (min-width: 1441px) {
  .last .container-last {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    align-content: center;
    padding: 40px 40px 32px 40px;
  }
}
.last .container-last h2 {
  max-width: 90%;
  font-weight: 900;
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .last .container-last h2 {
    font-size: 50px;
    max-width: 100%;
    margin-bottom: 20px;
    line-height: 47px;
  }
}
@media (min-width: 1441px) {
  .last .container-last h2 {
    font-size: 60px;
    max-width: 70%;
    margin-bottom: 20px;
    line-height: 65px;
  }
}
.last .container-last p {
  font-weight: 300;
  color: white;
  font-size: 18px;
}
@media (min-width: 768px) {
  .last .container-last p {
    max-width: 90%;
    line-height: 30px;
  }
}
@media (min-width: 1441px) {
  .last .container-last p {
    max-width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
}

.footer {
  background-color: black;
  color: white;
}

/*PAGE OUR LOCATION*/
.container img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .container img.map-mobile {
    display: none;
  }
}
@media (min-width: 1441px) {
  .container img.map-mobile {
    display: none;
  }
}
.container img.map-tablet {
  display: none;
}
@media (min-width: 768px) {
  .container img.map-tablet {
    display: block;
    width: 100%;
  }
}
.container img.map-desktop {
  display: none;
}
@media (min-width: 768px) {
  .container img.map-desktop {
    display: none;
  }
}
@media (min-width: 1441px) {
  .container img.map-desktop {
    display: block;
  }
}
.container a {
  position: absolute;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container a {
    margin-left: 39px;
  }
}
@media (min-width: 1441px) {
  .container a {
    margin-left: 156px;
  }
}
.container a img {
  transform: rotate(180deg);
}

.location {
  background-color: black;
  color: white;
  padding: 20px;
}
@media (min-width: 768px) {
  .location {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 90px;
    gap: 0px 100px;
  }
}
@media (min-width: 1441px) {
  .location {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 50px;
    padding-bottom: 90px;
    gap: 0px 220px;
  }
}
@media (min-width: 768px) {
  .location h1 {
    grid-row: 1/span 3;
    font-size: 60px;
    padding: 20px;
    font-weight: 800;
  }
}
@media (min-width: 1441px) {
  .location h1 {
    grid-row: 1/span 3;
    font-size: 70px;
    padding: 20px;
    font-weight: 800;
  }
}
.location h2 {
  margin-bottom: 20px;
  color: #D5966C;
  font-size: 32px;
}
@media (min-width: 768px) {
  .location h2 {
    align-items: center;
    align-content: center;
  }
}
@media (min-width: 1441px) {
  .location h2 {
    align-items: center;
    align-content: center;
  }
}
.location .direction {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  margin-bottom: 20px;
  font-weight: 200;
}
@media (min-width: 1441px) {
  .location .direction {
    font-size: 22px;
  }
}
.location p {
  font-size: 18px;
  font-weight: 200;
}
@media (min-width: 1441px) {
  .location p {
    font-size: 22px;
    max-width: 88%;
  }
}

.footer-2 {
  background-color: #D5966C;
}
@media (min-width: 768px) {
  .footer-2 figure {
    padding-right: 25px;
  }
}
@media (min-width: 768px) {
  .footer-2 figure img {
    width: 130px;
  }
}

footer {
  padding: 40px 28px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 30px;
  }
}
@media (min-width: 1441px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 165px;
  }
}
footer h3 {
  font-size: 30px;
  margin-bottom: 26px;
  font-weight: 800;
}
footer p {
  font-size: 16px;
  margin-bottom: 26px;
  font-weight: 300;
}
@media (min-width: 768px) {
  footer p {
    max-width: 35%;
    align-items: center;
    align-content: center;
    line-height: 30px;
    margin-left: -80px;
  }
}
@media (min-width: 1441px) {
  footer p {
    max-width: 35%;
    align-items: center;
    align-content: center;
    line-height: 30px;
    margin-left: -80px;
  }
}
footer .social-media {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
}
@media (min-width: 768px) {
  footer .social-media {
    gap: 30px;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
  }
}
@media (min-width: 1441px) {
  footer .social-media {
    gap: 30px;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  footer .social-media img.three-image {
    max-width: 35px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Big Shoulders", sans-serif;
}

.content {
  margin-left: 16px;
  margin-right: 16px;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
