a.button {
    display: inline-flex;
    color: white;
    text-decoration: none;
    justify-content: space-between;

    span {
        font-size: 20px;
        padding: 16px 30px 16px 26px;
        background-color: $color-black;
    }

    img {
        margin-left: auto;
        background-color: $color-brown;
        padding: 5px 20px;
    }
}

a.button:hover {
    span {
        background-color: $color-brown;
    }

    img {
        background-color: black;
    }
}